  .col-lg-10 {
	margin-top: 1em;
	margin-bottom: 1em;
}

.col-lg-12 {
	padding: 1em;
	border: 0.5px solid #e3e3e3;
	border-radius: 0.3em;
}

body {
	background-image: url('https://kontiki007.github.io/kontiki.github.io/dinosaur.gif') no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
